<?xml version="1.0" encoding="UTF-8"?>

<web-app>
    <servlet>
        <servlet-name>hellohello</servlet-name>
        <servlet-class>HelloWorldServlet</servlet-class>
    </servlet>
    <servlet-mapping>hellohello</servlet-mapping>
    <url-pattern>/servlet/HelloWorldServlet</url-pattern>
</web-app>